<main>
  <h4>Para restablecer tu contraseña, ingresa tu email</h4>
  <form action="/restore" method="POST" class="restore__form">
    <input type="text" placeholder="email" class="restore__input" name="email" />
    <div class="input__divider"></div>
    <button type="submit" class="restore__btn">Enviar</button>
  </form>
</main>